<!doctype html>
<html layout:decorator="layout/layout" lang="en" xmlns:th="http://www.thymeleaf.org">
<body class="pt-3 mb-2 bg-info text-white">
<th:block layout:fragment="content">
    <div class="container text-center"><h1 class="display-1 mt-4">MJ FIFA Tournement </h1>
        <p class="lead mb-4">
            Love FIFA? Then be on the lookout for this years FIFA tournement for awesome prizes!</p>
        <form action="#" method="post">
            <div class="input-group mb-3 col-md-6 offset-md-3">
                <input type="text" class="form-control"
                       placeholder="Email" aria-label="Enter your email for info..." aria-describedby="basic-addon2" />
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit" value="Submit">Sign Up</button>
                </div>
            </div>
        </form>
    </div>
</th:block>
</body>
</html>